<div id="checklist">
    <button (click)="closeDialog()">x</button>
    <br>
    <input value="1" name="r" type="checkbox" id="01">
    <label for="01">Bread</label>
    <input value="2" name="r" type="checkbox" id="02">
    <label for="02">Cheese</label>
    <input value="3" name="r" type="checkbox" id="03">
    <label for="03">Coffee</label>
    <input value="4" name="r" type="checkbox" id="04">
    <label for="04">Coffee</label>
    <input value="5" name="r" type="checkbox" id="05">
    <label for="05">Coffee</label>
    <input value="6" name="r" type="checkbox" id="06">
    <label for="06">Coffee</label>
    <input value="7" name="r" type="checkbox" id="07">
    <label for="07">Coffee</label>
    <button>Aceptar</button>
  </div>