<div class="card" [ngClass]="weather < 25 ? 'cold' : 'hot'">
    <div class="container">
      <div class="cloud front" *ngIf="weatherType === 'cloudy'">
        <span class="left-front"></span>
        <span class="right-front"></span>
      </div>
      <span class="sun sunshine"></span>
      <span class="sun"></span>
      <div class="cloud back" *ngIf="weatherType === 'cloudy'">
        <span class="left-back"></span>
        <span class="right-back"></span>
      </div>
    </div>
  
    <div class="card-header">
      <span>{{ name }}<br>{{ capital }}</span>
      <span>{{ date | date: 'longDate' }}</span>
    </div>
  
    <span class="temp">{{ weather }}°</span>
  
    <div class="temp-scale">
      <span>Celcius</span>
    </div>
  </div>